# Dependencies
node_modules/

# Build outputs
dist/
.next/
build/
coverage/
*.tsbuildinfo

# Nx
.nx/cache
.nx/workspace-data

# Env
.env
.env.*.local

# OS
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
